{%- comment -%}

    Bootstrap Icons, https://icons.getbootstrap.com/

    This include adds a bootstrap icon using the inline SVG approach. The svg will inherit font size and color from the parent, so can be used with other text. 

    E.G. --> {% include feature/icon.html icon="file-play" label="Audio file" %}

    Options:
    - "icon" = a Bootstrap Icon name, e.g. "file-image", "file-play"
    - "label" = a label for accessibility (optional)
    - "class" = extra classes to add directly to the svg element (optional)

    Note: this include processes bootstrap's icons to enable them to be embedded in markdown and styled correctly.
    If adding more than one icon to a page, using the include "feature/icon.html" is more efficient.

{%- endcomment -%}
{% capture icon_id %}/assets/lib/icons/{{ include.icon }}{%- endcapture -%}
{%- assign icon = site.icons | where: 'id',icon_id | first -%}
{% if include.label %}{% capture label %}role="img" aria-label="{{ include.label }}"{%- endcapture -%}{%- endif -%}
{{ icon.content | replace: 'width="16" height="16"',label | replace: 'class="bi','class="bi icon-sprite' | normalize_whitespace }}