{% comment %}

    Adds html audio element with source listed in object_location.
    Provides a fallback to download the file.

{%- endcomment -%}
<audio controls class="w-100">
    <source src="{{ page.object_location | relative_url }}">
    {{ site.data.translations['_includes']['item']['audio-player.html']['no-support'][site.lang] | default: "Your browser does not support the audio element." }} <a href="{{ page.object_location | relative_url }}">{{ site.data.translations['_includes']['item']['audio-player.html']['download'][site.lang] | default: "Download Audio" }}</a>.
</audio>