{% comment %}

    Adds a basic citation box for the item with reference link to the item page.

{%- endcomment -%}
<div class="card">
    <div class="card-header">{{ site.data.translations['includesItemCitationBox']['title'][site.lang] }}</div>
    <div class="card-body">
        <dl>
            <dt>{{ site.data.translations['includesItemCitationBox']['preferredCitation'][site.lang] }}:</dt>
            <dd>"{{ page.title }}", {{ site.title }}, {{ site.organization-name }}</dd>
            <dt>{{ site.data.translations['includesItemCitationBox']['referenceLink'][site.lang] }}:</dt>
            <dd>{{ page.url | absolute_url }}</dd>
        </dl>
    </div>
</div>