{% comment %}

    For image items, a zoomable, full screen gallery view is added using lightGallery.
    Ensure dependencies are added by including `gallery: true` in the layout front matter calling this include.

{%- endcomment -%}

    <div class="gallery-img" data-src="{{ child.object_location | relative_url }}">
        <p><img src="{{ child.image_small | relative_url }}" alt="{% if page.title != child.title %}{{child.title | escape }}{% else %}{{page.title | escape }}[{{forloop.index}}]{% endif %}" class="img-fluid"></p>
    </div>

    {% include item/child/modal.html %}