{% comment %}

    Add a thumbnail image or icon based on format for an item, with a object_location link (if available).

{% endcomment %}
<div class="p-2">
    {% if child.object_location %}<a href="{{ child.object_location | relative_url }}" target="_blank" rel="noopener">{% endif %}
        {% if child.image_thumb or child.image_small %}
    <img class="img-thumbnail w-50" src="{{ child.image_small | default: child.image_thumb | relative_url }}" alt="{{ child.title | escape }}">
    {% else %}
    <svg class="bi text-body" fill="currentColor" aria-hidden="true">
        <use xlink:href="{{ '/assets/lib/bootstrap-icons.svg' | relative_url }}#{% if child.format contains 'image' %}{{ site.data.theme.icon-image | default: 'file-image' }}{% elsif child.format contains 'audio' %}{{ site.data.theme.icon-audio | default: 'file-play' }}{% elsif child.format contains 'video' %}{{ site.data.theme.icon-video | default: 'film' }}{% elsif child.format contains 'pdf' %}{{ site.data.theme.icon-pdf | default: 'file-richtext' }}{% else %}{{ site.data.theme.icon-default | default: 'file-earmark' }}{% endif %}"/>
    </svg>
    <span class="sr-only">{{ child.title | escape }} - {{ child.format }}</span>
    {% endif %}
{% if child.object_location %}</a>{% endif %}
{% if page.title != child.title %}<p><small>{{child.title}}</small></p>{% endif %}
</div>