{% comment %}

Add a thumbnail image or icon based on format for an item, with a object_location link (if available).

{% endcomment %}
<div class="card h-100" >
    <div class="my-auto">
        <div class="p-2 text-center">
            <a id="{{ child.objectid }}" onclick="window.location.hash='{{ child.objectid }}'" type="button" class="small mb-2 text-dark" data-bs-toggle="modal" data-bs-target="#{{ child.objectid }}Modal">{{child.title | truncatewords: 4}}</a><br>
            {% if child.image_thumb or child.image_small %}
            <img class="img-thumbnail w-50" src="{{ child.image_thumb | default: child.image_small | relative_url }}" alt="{{ child.title | escape }}">
            {% else %}
            <svg class="bi timeline-thumb text-body" fill="currentColor" aria-hidden="true">
                {%- assign icon_template = child.display_template | default: item.format -%}
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#{% if icon_template contains 'image' %}icon-image{% elsif icon_template contains 'pdf' %}icon-pdf{% elsif icon_template contains 'audio' %}icon-audio{% elsif icon_template contains 'video' %}icon-video{% else %}icon-default{% endif %}" />
            </svg>
            <span class="sr-only d-none">{{ child.title | escape }} - {{ child.format }}</span>
            {% endif %}
        </div>
        {% include item/child/modal.html %}
    </div>
</div>