<a target="_blank" rel="noopener" href="{{ page.object_location | relative_url }}" class="m-2 btn btn-outline-primary">Download {{ page.format | split: '/' | last | upcase }}</a>
{% if page.date %}{%- capture year -%}{% if page.date contains "-" %}{{ page.date | split: "-" | first }}{% elsif page.date contains "/" %}{{ page.date | split: "/" | last }}{% else %}{{ page.date }}{% endif %}{%- endcapture -%}
<a href="{{ year | strip | prepend: '/timeline.html#y' | relative_url }}" class="m-2 btn btn-outline-primary">View on Timeline</a>{% endif %}
{% if page.latitude and page.longitude %}
<a href="{{ '/map.html#' | append: page.latitude  | append: ',' | append: page.longitude | relative_url}}" class="m-2 btn btn-outline-primary">View on Map</a>{% endif %}