{% comment %}

    Add a thumbnail image or icon based on format for an item, with a object_download link (if available).

{% endcomment %}
{% if page.object_download %}<a href="{{ page.object_download | relative_url }}" target="_blank" rel="noopener">{% endif %}
    {% if page.image_thumb or page.image_small %}
    <img class="img-thumbnail" src="{{ page.image_small | default: page.image_thumb | relative_url }}" alt="{{ page.title | escape }}">
    {% else %}
    <svg class="bi text-body" fill="currentColor" aria-hidden="true">
        <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#{% if item.object_template contains 'image' or item.format contains 'image' %}icon-image
        {% elsif item.object_template contains 'pdf' or item.format contains 'pdf' %}icon-pdf{% elsif item.object_template contains 'audio' or item.format contains 'audio' %}icon-audio{% elsif item.object_template contains 'video' or item.format contains 'video' %}icon-video{% else %}icon-default{% endif %}"/>
    </svg>
    <span class="sr-only">{{ page.title | escape }} - {{ page.format }}</span>
    {% endif %}
{% if page.object_download %}</a>{% endif %}