<style>
    .panorama {
        width: 100%;
        height: 800px;
    }
</style>
<div class="my-4">
<div id="panorama" class="panorama  my-4"></div>
</div>
<!-- https://pannellum.org/documentation/reference/ -->
<script src="{{ 'pannellum.js' | prepend: '/assets/lib/pannellum/' | relative_url }}"></script>
<script>
pannellum.viewer('panorama', {
    "type": "equirectangular",
    "panorama": "{{ page.object_location | relative_url }}",
    "autoLoad": false,
        /*
     * Uncomment the next line to print the coordinates of mouse clicks
     * to the browser's developer console, which makes it much easier
     * to figure out where to place hot spots. Always remove it when
     * finished, though.
     */
    "hotSpotDebug": false,
    "hotSpots": [
      
    ]
});
</script>
