{% comment %}

    Adds a panorama image viewer using Pannellum.
    Default is set for equirectangular projection types.
    https://pannellum.org/documentation/reference/

{%- endcomment -%}
<link rel="stylesheet" href="{{ site.lib-assets | default: '/assets/lib' | relative_url }}/pannellum/pannellum.css">
<div id="panorama" class="ratio ratio-4x3 my-4"></div>
<script src="{{ site.lib-assets | default: '/assets/lib' | relative_url }}/pannellum/pannellum.js"></script>
<script>
pannellum.viewer('panorama', {
    "type": "equirectangular",
    "panorama": "{{ page.object_location | relative_url }}",
    "autoLoad": false,
        /*
     * Uncomment the next line to print the coordinates of mouse clicks
     * to the browser's developer console, which makes it much easier
     * to figure out where to place hot spots. Always remove it when
     * finished, though.
     */
    "hotSpotDebug": false,
    "hotSpots": [
      
    ]
});
</script>
