{
    "plugins": ["@shopify/prettier-plugin-liquid"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "liquid-html"
            }
        }
    ]
}