---
layout: item/item-page-base
item-meta: true
gallery: true
custom-foot: js/modal-hash-js.html
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="mb-4 ">
            <div class="row row-cols-2 row-cols-lg-4 g-2">
                {% for child in children %}
                <div class="col">
                    {% include item/compound-item-thumb.html %}
                </div>
                {% endfor %}
            </div>

            <div class="my-2">
                {% include item/compound-download-buttons.html %}
            </div>
        </div>
    </div>

    <div class="col-md-10 mx-auto col-12" id="metadata">
        {% include item/metadata.html %}
    </div>
</div>