---
layout: item/item-page-base
gallery: true
custom-foot: js/modal-hash-js.html
---
{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %}

<div class="mb-4 text-center">

    {% for child in children %}
    <div id="{{ child.objectid }}">
        <div class="spotlight gallery-img" data-download="true" data-src="{{ child.object_location | relative_url }}">
            <p><img  src="{{ child.image_small | relative_url }}" alt="{% if page.title != child.title %}{{ child.title | escape }}{% else %}{{ page.title | escape }} [{{ forloop.index }}]{% endif %}" class="img-fluid"></p>
            {% if page.title != child.title %}<p class="text-secondary"><small>{{ child.title }}</small></p>{% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="my-2">

        {% include item/child/compound-item-download-buttons.html %}

    </div>

</div>
