---
# basic layout for PDF documents
# Displays image_small if available, with fall back to image_thumb, or a pdf icon.
layout: item/item-page-base

# MAM 27-Sep-2024 Added embed-pdf logic from the CSV project... seems to work!
---

<!-- cb: _includes/item/pdf.html -->
<div class="card mb-4 text-center">
    <div class="card-body">
        <p>
            {% comment %}
            <!-- if you'd like to include an embedded pdf, replace the include command that ends item-thumb.html below with the one directly below this comment-->
            {% include item/pdf-embed.html %}
            {% endcomment %}
            {% include item/item-thumb.html %}
        </p>

        <div class="mt-2">

            {% include item/download-buttons.html %}

        </div>

    </div>
</div>
