---
# basic video item layout
# Displays a video embedded on the page with default support for video files (using <video> element with object_location as src, MP4 is most compatible format), YouTube (from full link in object_location), or Vimeo videos (from full link in object_location).
layout: item/item-page-base
---

<div class="card mb-4 text-center">
    <div class="card-body">
    
        {% if page.object_location contains 'vimeo' or page.object_location contains 'youtu' %}
        {% include item/video-embed.html %}
        {% else %}
        {% include item/video-player.html %}
        {% endif %}

        <div class="mt-2">
            {% if page.object_location contains 'vimeo' or page.object_location contains 'youtu' %}
            <div class="btn-group" role="group" aria-label="Button group">
                <a target="_blank" rel="noopener" href="{{ page.object_location | relative_url }}" class="btn btn-outline-primary">View {% if page.object_location contains 'vimeo' %}on Vimeo{% elsif page.object_location contains 'youtu' %}on YouTube{% else %}Video{% endif %}</a>
                {% if page.date %}{%- capture year -%}{% if page.date contains "-" %}{{ page.date | split: "-" | first }}{% elsif page.date contains "/" %}{{ page.date | split: "/" | last }}{% else %}{{ page.date }}{% endif %}{%- endcapture -%}
                <a href="{{ year | strip | prepend: '/timeline.html#y' | relative_url }}" class="btn btn-outline-primary">View on Timeline</a>{% endif %}
                {% if page.latitude and page.longitude %}
                <a href="{{ '/map.html?location=' | append: page.latitude  | append: ',' | append: page.longitude | append: '&marker=' | append: page.objectid | relative_url}}" class="btn btn-outline-primary">View on Map</a>{% endif %}
            </div>
            {% else %}
            {% include item/download-buttons.html %}
            {% endif %}
        </div>
        
    </div>
</div>
