{%- assign fields = site.data.config-search -%}
{%- assign index_fields = fields | where: 'index','true' -%}
<script src="{{ site.lib-assets | default: '/assets/lib' | relative_url }}/lunr.min.js"></script>
<script src="{{ '/assets/js/lunr-store.js' | relative_url }}"></script>
<script>

/* initialize lunr */
var idx = lunr(function () {
    /* add index fields from config */
    this.ref('id')
    {% for f in index_fields %}
    this.field({{ f.field | jsonify }})
    {% endfor %}
    for (var item in store) {
        this.add({
            {% for f in index_fields %}
            {{ f.field | jsonify }}: store[item][{{ f.field | jsonify }}],
            {% endfor %}
            id: item
        })
    }
});

/* search function */
function lunr_search () {
    var query = searchbox.value;
    /* basic search that supports operators */
    var results = idx.search(query);
    resultsdiv.innerHTML = "";
    var newresults = "";
    for (var item in results) {
        var ref = results[item].ref;
        var searchitem =
            '<li class="border-bottom mb-3">'+
            {% assign display = fields | where: 'display','true' %}{% for d in display %}{% if forloop.first %}
            '<h4><a href="{{ "/items/" | relative_url }}' + store[ref].id + '">' + store[ref][{{ fields[0].field | jsonify }}]  + '</a></h4>' +
            '<p class="ms-3">';{% else %}
            if(store[ref][{{ d.field | jsonify }}]) { searchitem += store[ref][{{ d.field | jsonify }}] + '<br> '; }{% endif %}{% endfor %}
        searchitem += '</p></li>';
        newresults += searchitem;
    }
    var resultslist = `<h3 class="border-bottom mb-3 h5"><small>${results.length} Results found</small></h3>
                        <ul class="list-unstyled">${newresults}</ul>`;
    resultsdiv.innerHTML = resultslist;
}

/* set elements */
var resultsdiv = document.getElementById('searchResults');
var searchbox = document.getElementById('searchBox');

/* init search box and get query string */
document.addEventListener('DOMContentLoaded', function(event) {
    var queryString = new URLSearchParams(window.location.search).get('q');
    if (queryString) {
        searchbox.value = queryString;
        lunr_search();
    }
});

</script>