{% comment %}
  This include creates a modal pop up with data export options.
  The logic of which formats appear is based on config-nav stubs:
  if subject.html, map.html, location.html, or timeline.html are present,
  corresponding data formats will be available for download.
  The cards with download buttons are included via data-download-cards.html.
{% endcomment %}

{%- assign stubs = site.data['config-nav'] | map: 'stub' | join: ';' -%}
{% if include.show_button != false %}
  <button
    type="button"
    class="btn btn-outline-primary btn-lg float-md-end"
    data-bs-toggle="modal"
    data-bs-target="#dataModal"
  >
    {{
      site.data.translations._includes['data-download-modal.html']['download-data'][site.lang]
      | default: 'Download Data'
    }}
  </button>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="dataModalLabel">
          {{
            site.data.translations._includes['data-download-modal.html'].title[site.lang]
            | default: 'Collection Data'
          }}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Ansicht schliessen"></button>
      </div>
      <div class="modal-body">
        {% include data-download-cards.html %}
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
      "@context":"https://schema.org/",
      "@type":"Dataset",
      "name":"{{ site.title | escape }} Data",
      "description":"Metadata and data derived from {{ site.title | escape }}. {{ site.description | escape }}",
      {% if site.keywords %}"keywords": {% assign keywords = site.keywords | split: ';' %} {{ keywords | jsonify }},{% endif %}
      "url":"{{ page.url | absolute_url }}",
      "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
      "creator": [
          {
              "@type": "Organization",
              "sameAs": "{{ site.organization-link }}",
              "name": "{{ site.organization-name | escape }}"
          }
      ],
      "hasPart" : [
          {% if site.data.theme.metadata-facets-fields %}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} Metadata Facets",
              "description": "Unique values and counts of metadata facet fields.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/facets.json' | absolute_url }}"
                  }
              ]
          },
          {%- endif -%}
          {% if stubs contains "subject" %}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} metadata subject counts",
              "description": "Unique values and counts of metadata subject fields.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"CSV",
                      "contentUrl":"{{ '/assets/data/subjects.csv' | absolute_url }}"
                  },
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/subjects.json' | absolute_url }}"
                  }
              ]
          },
          {%- endif -%}
          {% if stubs contains "location" %}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} metadata location counts",
              "description": "Unique values and counts of metadata location fields.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"CSV",
                      "contentUrl":"{{ '/assets/data/locations.csv' | absolute_url }}"
                  },
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/locations.json' | absolute_url }}"
                  }
              ]
          },
          {%- endif -%}
          {% if stubs contains "map" %}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} geographic metadata",
              "description": "Geojson data containing all objects with lat-longs and associated descriptive metadata.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/geodata.json' | absolute_url }}"
                  }
              ]
          },
          {%- endif -%}
          {% if stubs contains "timeline" %}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} timeline metadata",
              "description": "Time-based metadata formatted for TimelineJS or other applications.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/timelinejs.json' | absolute_url }}"
                  }
              ]
          },
          {%- endif -%}
          {
              "@type": "Dataset",
              "name": "{{ site.title | escape }} full metadata",
              "description": "Complete metadata export for {{ site.title | escape }} objects.",
              "license" : "https://creativecommons.org/publicdomain/zero/1.0/",
              "distribution":[
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"CSV",
                      "contentUrl":"{{ '/assets/data/metadata.csv' | absolute_url }}"
                  },
                  {
                      "@type":"DataDownload",
                      "encodingFormat":"JSON",
                      "contentUrl":"{{ '/assets/data/metadata.json' | absolute_url }}"
                  }
              ]
          }
      ]
  }
</script>
