<footer class="bg-dark mt-auto container-fluid">

    <div class="row mb-2">

        <div class="col-md-7 px-4 mt-3">
            <p class="text-white"><small>{{ site.description }}</small></p>
        </div>

        <div class="col-md-12 mt-3 text-center">
            <p class="text-white" id="footer-credits">
                {% if site.organization-logo-nav %}
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}"
                        alt="{{ site.organization-name | escape }} home">
                </a>
            {% endif %}

                <small><em><span aria-hidden="true">&#x2E31; </span>{{ site.data.translations['_includes']['footer.html']['built-with'][site.lang] | default:
                        'built with' }}</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener"
                        title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid mx-1"
                            alt="CollectionBuilder">
                    </a>
                </small>
            </p>

            <p class="text-white link-on-dark"><small>
                <a class="anchor" href="https://stadtgeschichtebasel.ch/datenschutzerklaerung" target="_blank" rel="noopener">Datenschutz</a>
                <span class="mx-2" aria-hidden="true">|</span>
                <a class="anchor" href="https://stadtgeschichtebasel.ch/barrierefreiheitserklaerung" target="_blank" rel="noopener">Barrierefreiheit</a>
                <span class="mx-2" aria-hidden="true">|</span>
                <a class="anchor" href="https://github.com/Stadt-Geschichte-Basel/forschung.stadtgeschichtebasel.ch/graphs/contributors" target="_blank" rel="noopener">Credits</a>
                <span class="mx-2" aria-hidden="true">|</span>
                <a class="anchor" href="https://stadtgeschichtebasel.ch/#page-footer" target="_blank" rel="noopener">Impressum</a>
            <br />{{
                site.data.translations['_includes']['footer.html']['last-updated'][site.lang] |
                default: 'Last updated' }} {{ site.time | date: '%Y' }}</small></p>
        </div>
    </div>
</footer>