/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Regular-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Medium-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Semibold-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

/* figcaption */
.figure-caption {
    text-align: center;
}

.carousel-item-title{
    background-color: rgba(58, 30, 62, 0.72);
}

.carousel-indicators [data-bs-target] {
    background-color: #ffe880;
}

#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-100px;
	left:0px;
	color:black;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#ffe880;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skip-to-content a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

::selection {
    background: #fff6cc;
    color: black;
}