/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Regular-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Medium-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Semibold-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

/* figcaption */
.figure-caption {
    text-align: center;
}

.carousel-item-title{
    background-color: rgba(58, 30, 62, 0.72);
}

.carousel-indicators [data-bs-target] {
    background-color: #ffe880;
}

#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-100px;
	left:0px;
	color:black;
	background:#ffe880;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skip-to-content a:focus {
    left:45%;
	top:2%;
	outline-color:black;	
	-webkit-transition: top .3s ease-in;
    transition: top .3s ease-in;
    z-index: 1021;
}

#scroll-to-top {
    &:focus {
        box-shadow: 0 0 0 .15rem #3a1e3e;
    }
}

::selection {
    background: #fff6cc;
    color: black;
}

a {
    &:hover {
        color: #191919;
    }
    
    .link-on-dark & {
        color: #ffffff;
        &:hover {
            color: #ffe880;
        }
    }    
}

.btn-report {
    border-color: #3a1e3e;
    &:hover {
        border-color:#f63e02;
        background-color: #ffe880;
        }
    &:focus {
        box-shadow:0 0 0 .25rem #f63e02;
    }
}

.btn-close:focus {
    box-shadow:0 0 0 .15rem #3a1e3e;
}

.form-control {   
    border-color: #ffe880; 
    &:focus {
        border-width: 1px;
        border-color: #ffe880;
        box-shadow:inset 0 0 0 .15rem #ffe880;
    }
}

#dt-search-0 {
    margin-left: 0;
    border-color: #3a1e3e;
    width: 100%;
    &:focus {
        border-width: 1px;
        border-color: #ffe880;
        box-shadow:inset 0 0 0 .15rem #ffe880;
    }
  }

#site-search {
    border-color: #3a1e3e;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-link {
    color: #3a1e3e !important;
    &:hover {
        border-color: #3a1e3e;
        background-color: #fff;
    }
    &:focus {
        background-color: #fff;
        border-color: #3a1e3e;
        box-shadow: 0 0 0 0rem;
    }
}

.page-item.active .page-link {
    color: #ffe880 !important;
    background-color: #3a1e3e;
    border-color: #3a1e3e;
}

.dropdown-item {
    &:focus {
        background-color: #3a1e3e;
        color: #ffe880;
    }
}

.dropdown-item.active {
    background-color: #3a1e3e;
    color: #fff;
}

.sgb-logo {
     /* white #fff */
    filter: invert(82%) sepia(100%) saturate(2%) hue-rotate(53deg) brightness(108%) contrast(101%);
    &:hover {
         /* yellow #ffe880 */
        filter: invert(79%) sepia(69%) saturate(302%) hue-rotate(349deg) brightness(105%) contrast(103%);
    }
}

.nav-link {
    color: #ffffff !important;
    &:hover {
        color: #ffe880 !important;
    }
}

.nav-link.active {
    color: #ffe880 !important;
}

.btn-group .dropdown-toggle:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .btn:active {
    box-shadow: none;
}

.btn-primary.active {
    color: #ffe880;
    background-color: #3a1e3e;
}

.table>thead {
    vertical-align: middle;
}

.datatable-border {
    border-color: #ffe880 !important;
    border-top: none !important;
}

.datatable-border th,
.datatable-border td {
    border: none; /* for inner cell borders */
}

.dtsb-titleRow {
    display: none;
}

.dtsb-searchBuilder {
    align-items: center;
}

.dtsb-logicContainer {
    flex-wrap: nowrap !important;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-data, 
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-condition,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-value,
div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-value {
    border-color: #3a1e3e;
}

.dtb-popover-close {
    display: none;
}

.buttons-colvis {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.dt-buttons {
    flex-grow: 1;
    flex-wrap: nowrap !important;
}

.dt-buttons .btn {
    flex: 1 1 50%;
    min-width: 50px;
}

.dt-buttons .dropdown-menu {
    min-width: auto !important;
    width: auto !important;
    white-space: nowrap;
  }  

[id^="wrap-"] {
    max-height: 600px; 
    overflow-y: auto;
    text-align: left;
    background-color: #ffe880;
}

[id^="wrap-"] .table {
    border-collapse: separate;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.table-responsive-md, [id^="csvTable-"][id$="_wrapper"] {
    overflow-x: hidden;
}

.dataTables_scrollFoot {
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px !important;
}

@media screen and (max-width: 767px) {
    .dt-container .row {
        --bs-gutter-y: none !important;
    }
}

@media screen and (max-width: 991px) {
    .row > :not(:has(.pagination)) {
        flex-grow: 1;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#search button:hover svg {
    fill: #ffe880;
}

#search button:hover {
    background-color: #3a1e3e;
    border-color: #3a1e3e;
}

.toggle-icon {
    fill: #ffffff;
    &:hover {
        fill: #ffe880;
    }
}

  .modal-backdrop.show {
    opacity: 0.8;
  }

  #triggerWarning .modal-content {
    background-color: #fff3cd;
  }

  #triggerWarning ::selection {
    background: #3a1e3e;
    color: white;
}

.btn-triggerwarning {
    border-color: #3a1e3e;
    background-color: #3a1e3e;
    color: #fff3cd;
    &:hover {
        color: #ffe880;
        }
    &:focus {
        box-shadow:0 0 0 .25rem #3a1e3e;
    }
}

.pagination-controls, .search-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.form-select {
    border-color: #3a1e3e;
    &:focus {
        border-color: #3a1e3e;
        outline: 0;
        box-shadow:inset 0 0 0 .10rem #3a1e3e;
    }
}

.collection-table {
    border: hidden;
}

table.dataTable.fixedHeader-floating,table.dataTable.fixedHeader-locked {
    background-color: #ffe880;
}

.dt-scroll {
    border: 6.5px solid #ffe880;
    margin-left: auto !important;
    border-radius: .25rem;
}

.dt-scroll-head {
    background-color: #ffe880;
} 

.dt-scroll-body {
    border: none !important;
    background-color: #fff;
    border-radius: .25rem;
}

thead, tbody, th {
    border: none !important;
}

.table td {
    border-right: 1px solid #ccc;
    border-bottom: none;
}

table td:last-child {
    border-right: none;
}

/* Toggle Collection View for Small Screens */

@media screen and (min-width: 577px) {

    #switch-view .btn:last-child {
        display: none;
    }
    
    #switch-view .btn:nth-last-child(2) {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
}

@media screen and (max-width: 576px) {
    #switch-view .btn {
        display: none;
    }

    #switch-view .btn.active,
    #switch-view .btn:last-child {
        display: block;
        width: 100%;
        align-content: center;

        &:active {
            color: #ffe880;
        }
    }

    #switch-view .btn:nth-last-child(2) {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }

    #switch-view .btn.active:not(.btn-group-vertical .btn) {
        border-top-left-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: 0;
    }

    .btn-group-vertical .btn.active {
        color: #ffe880;
    }

    #filterButton {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
}

.random-card-img-top {
    height: 33vh;
    width: 100%;
    object-fit: contain; /* to maintain aspect ratio */
    object-position: center;
}

.timeline-thumb[src$=".svg"] {
    width: 100%;
    height: 100%;
}

.compound-thumb[src$=".svg"] {
    width: 100%;
    height: 100%;
    border: none;
}