/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Regular-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Medium-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: 'Euclid Circular B';
    src: url('/assets/fonts/EuclidCircularB-Semibold-WebS.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
}

/* figcaption */
.figure-caption {
    text-align: center;
}

.carousel-item-title{
    background-color: rgba(58, 30, 62, 0.72);
}

.carousel-indicators [data-bs-target] {
    background-color: #ffe880;
}

#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-100px;
	left:0px;
	color:black;
	background:#ffe880;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skip-to-content a:focus {
    left:45%;
	top:2%;
	outline-color:black;	
	-webkit-transition: top .3s ease-in;
    transition: top .3s ease-in;
    z-index: 1021;
}

::selection {
    background: #fff6cc;
    color: black;
}

a {
    &:hover {
        color: #191919;
    }
    
    .link-on-dark & {
        color: #ffffff;
        &:hover {
            color: #ffe880;
        }
    }    
}

.btn-report {
    border-color: #3a1e3e;
    &:hover {
        border-color:#f63e02;
        background-color: #ffe880;
        }
    &:focus {
        box-shadow:0 0 0 .25rem #f63e02;
    }
}

.form-control {    
    &:focus {
        border-width: 1px;
        border-color: #ffe880;
        box-shadow:0 0 0 .25rem #ffe880;
    }
}

.page-link {
    color: #3a1e3e !important;
    &:hover {
        border-color: #3a1e3e;
        background-color: #fff;
    }
    &:focus {
        background-color: #fff;
        border-color: #3a1e3e;
        box-shadow: 0 0 0 0rem;
    }
}

.page-item.active .page-link {
    color: #ffe880 !important;
    background-color: #3a1e3e;
    border-color: #3a1e3e;
}

.dropdown-item {
    &:focus {
        background-color: #3a1e3e;
        color: #ffe880;
    }
}

.dropdown-item.active {
    background-color: #3a1e3e;
    color: #fff;
}

.nav-link {
    color: #ffffff !important;
    &:hover {
        color: #ffe880 !important;
    }
}

.nav-link.active {
    color: #ffe880 !important;
}

.btn-group .dropdown-toggle:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search button:hover svg {
    fill: #ffe880;
}

#search button:hover {
    background-color: #3a1e3e;
    border-color: #3a1e3e;
}

.toggle-icon {
    fill: #ffffff;
    &:hover {
        fill: #ffe880;
    }
}