{%- comment -%}

    This include prepares icons for adding to the page, based on default icons configured in theme.yml.
    Each icon is processed to enable it to be called and styled correctly for use in SVG icon sprite approach.
    Processing is done during build to enable icons to be changed on the fly.
    Bootstrap Icons, https://icons.getbootstrap.com/

{%- endcomment -%}
<svg class="d-none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    {%- for i in site.data.theme.object-icons -%}
    {% capture icon_id %}/assets/lib/icons/{{ i[1] }}{%- endcapture -%}
    {%- assign icon = site.icons | where: 'id',icon_id | first -%}
    {% capture icon_start %}<symbol id="{{ i[1] }}"{%- endcapture -%}
    {{ icon.content | replace: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"', icon_start | replace: '</svg>','</symbol>' | normalize_whitespace }}
    {%- endfor -%}
</svg>