---
# base CSS for collectionbuilder
# includes some theming options
# pulled in from "theme.yml" and "config-theme-colors.csv"
---
@charset "utf-8";

/* base variables pulled from theme.yml */
$theme-base-font-family: {{ site.data.theme.base-font-family | default: '""' }};
$theme-base-font-size: {{ site.data.theme.base-font-size | default: '""' }};
$theme-text-color: {{ site.data.theme.text-color | default: '""' }};
$theme-link-color: {{ site.data.theme.link-color | default: '""' }};

/* base tweaks to Bootstrap */
@forward "base" with (
  $base-font-family: $theme-base-font-family,
  $base-font-size: $theme-base-font-size,
  $text-color: $theme-text-color,
  $link-color: $theme-link-color
);

/* individual CB page styles */
@forward "pages" with (
  $toc-a-color: {{ site.data.theme.text-color | default: '#191919' }}
); 

/* theme colors pulled from config-theme-colors */
{% assign btns = site.data.config-theme-colors | where_exp: "item","item.color != nil" %}
{% if btns != empty %}
@use "sass:map";
@forward "theme-colors" with (
  $link-color-base: $theme-link-color,
  $theme-colors: (
    {% for btn in btns %}{% assign color = btn.color | strip %}{% if color != empty %}
    "{{ btn.color_class | slugify }}": {{ color }}{% unless forloop.last %},{% endunless %}
    {% endif %}{% endfor %}
  )

);
{% endif %}

/* pull in custom styles to override everything else */
@use "custom";
