---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---
{{ content }}

<div class="container-fluid px-0">
  <div class="row align-items-center">
    <div class="col-12 col-md-auto text-center text-md-center mb-2 mb-lg-0">
      <div
        id="switch-view"
        class="btn-group btn-group-toggle d-flex justify-content-center"
        data-toggle="buttons"
        role="group"
      >
        <a
          href="{{ '/browse.html' | relative_url }}"
          class="btn btn-primary btn-lg active"
          aria-pressed="true"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-objects[site.lang] | default: 'Show object view' }}"
        >
          {{ site.data.translations._layouts['browse.html'].objects[site.lang] | default: 'Objects' }}
        </a>
        <a
          href="{{ '/timeline.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-timeline[site.lang] | default: 'Show objects on timeline' }}"
        >
          {{ site.data.translations._layouts['browse.html'].timeline[site.lang] | default: 'Timeline' }}
        </a>
        <a
          href="{{ '/subjects.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-subjects[site.lang] | default: 'Show list of subjects' }}"
        >
          {{ site.data.translations._layouts['browse.html'].subjects[site.lang] | default: 'Subjects' }}
        </a>
        <a
          href="{{ '/eras.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-eras[site.lang] | default: 'Show list of eras' }}"
        >
          {{ site.data.translations._layouts['browse.html'].eras[site.lang] | default: 'Eras' }}
        </a>
        <a
          href="{{ '/table.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-table[site.lang] | default: 'Show collection as table' }}"
        >
          {{ site.data.translations._layouts['browse.html'].table[site.lang] | default: 'Table' }}
        </a>
        <button
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].switch-view[site.lang] | default: 'Switch view' }}"
          onclick="toggleButtonView()"
        >
          {{ site.data.translations._layouts['browse.html']['switch-view'][site.lang] | default: 'Switch View' }}
        </button>
      </div>
    </div>

    <div class="col align-self-end">
      <form class="d-flex" role="search" id="lunrSearch" onsubmit="event.preventDefault(); submitFilter();">
        <div class="input-group input-group-lg flex-nowrap">
          <input
            type="text"
            class="form-control flex-nowrap"
            id="filterTextBox"
            placeholder="{{ site.data.translations['_layouts']['browse.html']['filter'][site.lang] | default: 'Filter' }} ..."
            aria-label="{{ site.data.translations['_layouts']['browse.html']['search'][site.lang] | default: 'Search' }}"
          >
          <button
            class="btn btn-secondary"
            type="submit"
            title="{{ site.data.translations['_layouts']['browse.html']['filter-items'][site.lang] | default: 'Filter items' }}"
            id="filterButton"
          >
            {{ site.data.translations._layouts['browse.html'].search[site.lang] | default: 'Search' }}
          </button>
          <button
            class="btn btn-outline-secondary text-dark filter d-none d-sm-flex"
            type="reset"
            onclick="event.preventDefault(); resetFilter();"
            data-filter=""
          >
            {{ site.data.translations._layouts['browse.html'].reset[site.lang] | default: 'Reset' }}
          </button>
        </div>
      </form>
    </div>
  </div>

  {% include js/switch-view-js.html %}

  <div class="h2 mt-2 text-center" id="numberOf"></div>

  <div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">
        {{- site.data.translations._layouts['browse.html'].loading[site.lang] | default: 'Loading' }}...</span
      >
    </div>
  </div>

  <div class="row" id="browseItems"></div>
</div>
