---
# Term cloud layout
# used by default subjects and location page
# can be used for any metadata field cloud
layout: page
---
{{ content }}

<div class="container-fluid px-0">
  <div class="row align-items-center">
    <div class="col-12 col-md-auto text-center text-md-center mb-2 mb-lg-0">
      <div
        id="switch-view"
        class="btn-group btn-group-toggle d-flex justify-content-center"
        data-toggle="buttons"
        role="group"
      >
        <a
          href="{{ '/browse.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-pressed="true"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-objects[site.lang] | default: 'Show object view' }}"
        >
          {{ site.data.translations._layouts['browse.html'].objects[site.lang] | default: 'Objects' }}
        </a>
        <a
          href="{{ '/timeline.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-timeline[site.lang] | default: 'Show objects on timeline' }}"
        >
          {{ site.data.translations._layouts['browse.html'].timeline[site.lang] | default: 'Timeline' }}
        </a>
        <a
          href="{{ '/subjects.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-subjects[site.lang] | default: 'Show list of subjects' }}"
        >
          {{ site.data.translations._layouts['browse.html'].subjects[site.lang] | default: 'Subjects' }}
        </a>
        <a
          href="{{ '/eras.html' | relative_url }}"
          class="btn btn-primary btn-lg active"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-eras[site.lang] | default: 'Show list of eras' }}"
        >
          {{ site.data.translations._layouts['browse.html'].eras[site.lang] | default: 'Eras' }}
        </a>
        <a
          href="{{ '/table.html' | relative_url }}"
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].view-table[site.lang] | default: 'Show collection as table' }}"
        >
          {{ site.data.translations._layouts['browse.html'].table[site.lang] | default: 'Table' }}
        </a>
        <button
          class="btn btn-outline-primary btn-lg"
          aria-label="{{ site.data.translations['_layouts']['browse.html'].switch-view[site.lang] | default: 'Switch view' }}"
          onclick="toggleButtonView()"
        >
          {{ site.data.translations._layouts['browse.html']['switch-view'][site.lang] | default: 'Switch View' }}
        </button>
      </div>
    </div>
  </div>
</div>

{% include js/switch-view-js.html %}

{%- comment -%}
  Figure out default "Subjects" and "Locations" page cloud values as configured in in "theme.yml",
  and set default values for cloud include.
{%- endcomment -%}
{%- if page['cloud-fields'] == 'site.data.theme.subjects-fields' -%}
  {% assign fields = site.data.theme['subjects-fields'] %}
  {% assign min = site.data.theme['subjects-min'] | default: 1 %}
  {% assign stopwords = site.data.theme['subjects-stopwords'] %}
{%- elsif page['cloud-fields'] == 'site.data.theme.locations-fields' -%}
  {% assign fields = site.data.theme['locations-fields'] %}
  {% assign min = site.data.theme['locations-min'] | default: 1 %}
  {% assign stopwords = site.data.theme['locations-stopwords'] %}
{%- else -%}
  {% assign fields = page['cloud-fields'] | default: 'subjects' %}
  {% assign min = page['cloud-min'] | default: 1 %}
  {% assign stopwords = page['cloud-stopwords'] %}
{%- endif -%}

{% assign cloud_id = 'cloud-div-' | append: fields | slugify %}
<div id="{{ cloud_id }}" class="text-center my-4 bg-{{ page.background | default: 'transparent' }} p-2"></div>
{% include js/cloud-js.html id=cloud_id fields=fields min=min stopwords=stopwords shuffle=page.shuffle button=page.button %}
