{% comment %}

    Adds a basic citation box for child item with reference link to the child page.

{%- endcomment -%}
<div class="card mb-2">
    <div class="card-header">{{ site.data.translations['_includes']['item']['child']['citation-box.html']['title'][site.lang] | default: "Source" }}</div>
    <div class="card-body">
        <dl>
            <dt>{{ site.data.translations['_includes']['item']['child']['citation-box.html']['preferred-citation'][site.lang] | default: "Preferred Citation" }}:</dt>
            <dd>"{{ child.title | default: page.title }}", {{ site.title }}, {{ site.organization-name }}</dd>
            <dt>{{ site.data.translations['_includes']['item']['child']['citation-box.html']['reference-link'][site.lang] | default: "Reference Link" }}:</dt>
            <dd>{{ page.url | absolute_url }}#{{ child.objectid }}</dd>
        </dl>
    </div>
</div>