{% comment %}
{% endcomment %}

{% assign data = child.object_location %}
{% assign lang = site.lang %}
{%
  assign quick_search = site.data.translations._includes.item.child.['table.html'].quick_search[site.lang]
  | default: 'Quick Search'
%}
{%- capture table_id -%}csvTable-{{ child.objectid }}{%- endcapture -%}
{%- capture wrap_id -%}wrap-{{ child.objectid }}{%- endcapture -%}
{%- capture obj_url -%}url_{{ child.objectid }}{%- endcapture -%}

<link rel="stylesheet" type="text/css" href="/assets/lib/datatables/datatables.min.css">
<script
  type="text/javascript"
  language="javascript"
  src="{{ '/assets/lib/datatables/datatables.min.js' | relative_url }}"
></script>
<script
  type="text/javascript"
  language="javascript"
  src="{{ '/assets/lib/papaparse/papaparse.min.js' | relative_url }}"
></script>
<script type="text/javascript">
  function esc(v) {
    const s = v == null ? '' : String(v);
    return s.replace(
      /[&<>"']/g,
      (c) =>
        ({
          '&': '&amp;',
          '<': '&lt;',
          '>': '&gt;',
          '"': '&quot;',
          "'": '&#39;',
        })[c],
    );
  }
</script>

<script type="text/javascript">
  (function() {
      var {{ obj_url }} = '{{ data | default: 'null' }}';

      if ({{ obj_url }} !== 'null') {
          fetch({{ obj_url }})
              .then(response => response.text())
              .then(data => {
                  Papa.parse(data, {
                      header: true,
                      skipEmptyLines: true,
                      transform: function(value, field) {
                          // Ensure undefined values are replaced with empty strings
                          return value === undefined ? "" : value;
                      },
                      complete: function(results) {
                          var build = '<table id="{{ table_id }}" class="table table-striped datatable-border" style="width:100%">\n';
                          var rows = results.data;

                          if (rows.length > 0) {
                              build += "<thead><tr>";
                              var headers = results.meta.fields;
                              headers.forEach(header => {
                                  build += "<th scope='col'>" + esc(header) + "</th>";
                              });
                              build += "</tr></thead><tbody>";

                              rows.forEach(row => {
                                  build += "<tr>";
                                  headers.forEach(header => {
                                      build += "<td>" + esc(row[header] !== null && row[header] !== undefined ? row[header] : "") + "</td>";
                                  });
                                  build += "</tr>";
                              });

                              build += "</tbody></table>";
                              document.getElementById('{{ wrap_id }}').innerHTML = build;

                              // Initialize DataTables
                              $('#{{ table_id }}').DataTable({
                                  {% if lang != "en" %}language: { url: '{{ "/assets/lib/datatables/" | append: lang | append: ".json" | relative_url }}' },{% endif %}
                                  ajax: false, // No AJAX since data is already loaded
                                  deferRender: true,
                                  fixedHeader: true,
                                  autoWidth: true,
                                  scrollX: true,
                                  scrollCollapse: true,
                                  scrollY: '400px',
                                  paging: false,
                                  layout: {
                                      bottomStart: [
                                          {
                                            rowClass: 'm-2 mt-1',
                                            features: {
                                                search: {
                                                    text: '_INPUT_',
                                                    placeholder: '{{ quick_search }}'
                                                }
                                              }
                                          }
                                      ],
                                      topEnd: null,
                                  },
                                  // order based on first column
                                  order: [[ 0, "asc" ]],
                              });
                          } else {
                              console.error('No data found or data format is incorrect for {{ table_id }}.');
                          }
                      },
                      error: function(error) {
                          console.error('Error parsing CSV for {{ table_id }}:', error);
                      }
                  });
              })
              .catch(error => console.error('Error fetching data for {{ table_id }}:', error));
      }
  })();
</script>

<div
  id="{{ wrap_id }}"
  class="bg-{{ include.background | default: '#ffe880' }} border datatable-border cell-border rounded"
></div>
